nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgba(40, 40, 40, 0.301);

    h1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(17, 17, 17);
        font-size: 25px;

    }
}