.main-container{
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    transition: all 0.2s ease-in-out;
    .container{
        display: flex;
        align-items: center;

        .todo-add-form{
            display: flex;
            gap:13px;
            width: 100%;

            .input-wrapper{
                width: 100%;
                padding: 10px 10px;
                background-color: rgba(128, 128, 128, 0.123);
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.538);

                input{
                    width: 100%;
                    background-color: transparent;
                    border: 0px;
                    font-size: 16px;
                    outline: none;
                }
            }

            .input-wrapper:focus-within{
                border: 1px solid blue  ;
            }

            button{
                text-wrap: nowrap;
                padding: 10px 20px;
                border-radius: 15px;
                border: 1px solid black;
                transition: all .1s ease-in-out;
            }
            button:hover{
                scale: 107%;

            }

        }

    }
}

.hidden{
    height: 0px;
    overflow: hidden;
    padding: 0;
    border: 0px;
}